html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.content {
	margin-top: 40px;
}

.text {
	font-family: "Arial", Arial, sans-serif;
	padding-top: 5px;
}

div.jumbo {
	text-align: center;
	background-color: #b3e7ff;
}

#top-container {
	min-height: 100%;
	position: relative;
	background-color: #f8f6f3;
}

#body {
	padding: 10px;
	padding-bottom: 35px;
}

#footer {
    color: white;
    text-align: center;
    height: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #222;
    border-color: #080808;
}

#center-header {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 30px;
}

div.contact-list {
	margin: auto;
	width:50%;
}

ul.contact-list {
	list-style-type: none;
	margin: auto;
	padding-bottom: 40px;
	font-size: 150%;
}

.icon {
	height: 20px;
	width: 20px;
	margin-bottom: 4px;
}

.about-column {
	margin-bottom: 30px;
}


ul li a:visited {
	text-decoration: none;
}

ul li a:hover {
	text-decoration: none;
}

ul li a:active {
	text-decoration: none;
}

ul li a:link {
	text-decoration: none;
}

.resume {
	text-align: center;
	margin: auto;
	font-size: 20px;
}

.resume-icon {
	height: 40px;
	width: 40px;
	margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
	#portrait {
		display: block;
		margin: auto;
		max-width: 280px;
		border-radius: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
	}

	.text {
		margin-top: 40px;
		margin-bottom: 80px;
		padding-bottom: 1px;
	}

	h1.jumbo {
		font-size: 30px;
	}

	#center-header {
		margin-top: 60px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 30px;
	}

	.contact-list-item {
		padding-top: 20px;
		margin-left: 20px;
		font-size: 80%;
	}

	div.contact-list {
		margin: auto;
		width:99%;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#portrait {
		border-radius: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		margin-bottom: 100px;
	}

	.text {
		font-size: 116%;
		margin-top: 0px;
	}

	#center-header {
		margin-top: 75px;
		margin-bottom: 30px;
		text-align: center;
	}

	.contact-list-item {
		padding-top: 20px;
		margin-left: 110px;
	}

	div.contact-list {
		margin: auto;
		width:75%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#portrait {
		border-radius: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		margin-bottom: 100px;
	}

	.text {
		font-size: 140%;
		margin-top: 30px;
	}

	#center-header {
		margin-top: 100px;
		margin-bottom: 30px;
		text-align: center;
	}

	.contact-list-item {
		padding-top: 20px;
		margin-left: 130px;
	}

	div.contact-list {
		margin: auto;
		width:60%;
	}
}

@media screen and (min-width: 1200px) {
	#portrait {
		border-radius: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		margin-bottom: 100px;
	}

	.text {
		font-size: 150%;
		margin-top: 50px;
	}

	#center-header {
		margin-top: 150px;
		margin-bottom: 30px;
		text-align: center;
	}

	.contact-list-item {
		padding-top: 20px;
		margin-left: 130px;
	}

	div.contact-list {
		margin: auto;
		width:50%;
	}

	#about div div {
		font-size: 110%;
	}

	#about div div h5 {
		font-size: 16px;
	}
}
